body{
    background-color: darkgrey;
    margin: 0px;
    padding: 0px;
}
#wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
nav {
    background-color: white;
    width: 20%;
    float: left;
    height: 200px;
}
section {
    background-color: red;
    width: 80%;
    height: 200px;
    box-sizing: border-box;
    padding: 10px;
    float: left;
}
footer {
    background-color: lime;
    width: 100%;
    height: 100px;
    text-align: center;
    clear:both;
}
header img{
    display: block; /* img is een inline element */
    margin-right: auto;
    margin-left: auto;
}
