body{
    font-family: "Verdana Pro";
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.title h1 {
    color: white;
    text-decoration-line: none;
    margin-top: 0px;
    font-size: 2em;
    padding-left: 5px;

}
.title {
    margin-top: 0px;
    background-image: url(header.jpg);
    height: 100px;
}
article h1 {
    text-decoration-line: underline;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.6em;
    padding-left: 5px;
}
article {
    background-color: lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
nav {
    background-color: grey;
}
nav a {
    text-decoration: none;
    color: limegreen;
    font-weight: bold;
    padding: 1px;
}