body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 100%;
    font-family: Verdana;
}

.header {
    background-image: url(fotos/bgsky3.jpg);
    height: 200px;
    text-align: center;
}

.header p {
    color: darkblue;
    font-size: 1.8em;
    font-weight: bold;
    padding-top: 10px;
}
.top-text {
    font-style: italic;
    font-size: 1.2em;
}

.header img {
    position: absolute;
    top: 60px;
    right: 20px;
}

.news{
    float: right;
    width: 30%;
    background-color: darkgrey;
    border: black 0.5px solid;
}

.news h3{
    text-align: center;
    color: white;
    background-color: darkblue;
    display: block;
}

.news p {
    background-color: darkgrey;
    padding: 10px;
}

.gallery {
    background-color: darkgrey;
    width: 67%;
    border: grey 0.5px solid;
}

.gallery img {
    border: white 5px solid;
    margin: 10px 10px 10px 10px;
}


.bottom {
    background-color: dimgray;
    color: floralwhite;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10px 10px 10px;
}

.bottom li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom a{
    color: floralwhite;
}

.copy {
    text-align: center;
}