table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 800px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.breder {
    width: 200px;
}